/**********************************
+GENERAL
+***********************************/


/**********************************
+NAVIGATION 
+***********************************/



/**********************************
+HEADER
+***********************************/

.portrait{
    height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:10px;
    height:500px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    border-radius:20px;
}
/**********************************
+MAIN CONTENT
+***********************************/
.thumbnail_space{
    width:90%;
    margin:0 auto;
}

.thumbnail_image{
  height:200px;
  width:260px;
}

article{
   width:90%;
   margin:0 auto;
   border-radius:10px;
   margin-bottom:10px;
}
 

/**********************************
+FOOTER - Layout and Sizing
+***********************************/
footer{
    height:100px;
    text-align:center;
}

/**********************************
+PAGE: _______
+***********************************/



/**********************************
+FONTS
+***********************************/



/**********************************
+COLORS and BACKGROUNDS
+
+Color 1:red
+Color 1:
+Color 1:
+Color 1:
+Color 1:
+
+***********************************/

article{
    background:#eee;
}

footer{
    background:#eee;
}

.jumbotron{
  background: url('http://i1379.photobucket.com/albums/ah149/dsanders7/picjumbo.com_HNCK4500_zpsfevgorr7.jpg') no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
} 

.body{
    background-color:#EEEDEB;
    color:#000000;
   border-radius:10px;
   
}
body{
    border-radius:10px;
    background-color:#46074C;
    font-family: 'Indie Flower', cursive;
}


footer{
    background:#46074C;
}